//format.css line 80 start scss
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//kleuren
$tekstcolor: rgba(255,255,255,0.8);
$titletekst: rgba(255,255,255,1);
$secundarycolor: #f8b945;
$thirdcolor: #bbbbbb;
$backgroundcolor: #434343;
$navFooterColor: #000000;
$fonts: "Montserrat", Verdana;
$effect_time: 2s infinite;
$pageWidth: 99.12vw;
//openingspagina foto+icons
.main_img {
  background-image: url("../Img/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: $pageWidth;
  overflow: hidden;
  height: 100vh;
  margin: 0;

  .top_icon {
    color: $titletekst;
    font-size: 20pt;
  }
    #icon1 {
        position: fixed;
        top:1vh;
        left:97vw;
    }
    #icon2{
        position: fixed;
        top:7vh;
        left:97vw;
    }
    #icon3{
        position: fixed;
        top:13vh;
        left:97vw;
    }
    .top_icon:hover {
        color: $secundarycolor;
        text-decoration: underline;
    }
  h1 {
    color: $tekstcolor;
    font-family: $fonts;
    font-size: 56pt;
    width: $pageWidth;
    text-align: center;
    padding-top: 30vh;
  }

  h2 {
    color: $tekstcolor;
    font-family: $fonts;
    font-size: 41pt;
    padding-top: 3vh;
    width: $pageWidth;
    text-align: center;
  }
  .scroll-downs {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    margin: auto;
    width :34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid $tekstcolor;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: $secundarycolor;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}
// source:https://codepen.io/oRlex/pen/XWmrEyM
}

//nav
nav {
  width: $pageWidth;
  height: 10vh;
  background-color: $navFooterColor;

  h2 {
    float: left;
    text-align: center;
    margin-top: 2.5vh;
    color: $tekstcolor;
    min-width: 19.78vw;
    padding: 0;

    a {
      text-decoration: none;
      color: $tekstcolor;
      font-family: $fonts;
    }
    a:hover {
      color: $secundarycolor;
      text-decoration: underline;
    }
  }
}

main {
  background-color: $backgroundcolor;
  color:$tekstcolor;
  font-family: $fonts;
  width: $pageWidth;
  padding-top:0.5vw;

  h1 {
    margin-left: 10vw;
    font-size: 18pt;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
  #img {
    max-height: 60vh;
    margin: 0 auto;
  }
  p {
    width:75vw;
    margin-left:12vw;
    text-align: justify;
    font-size: 12pt;
    margin-top: 0.9vw;
    margin-bottom: 0.5vw;
  }
}
//footer
footer {
  padding-top:1px;
}
#btn {
  display: none;
}
.label {
  //margin-top: 5px;
  float:right;
  background: $tekstcolor;
  //padding: 10px;
  transition: 0.25s ease;
  cursor: pointer;
  border: 2px solid transparent;
}
.label:hover {
  border-color: $secundarycolor;
}
.label:active {
  background: RGBa(0, 0, 0, 0.2);
}
input:checked + .overlay {
  opacity: 1;
  z-index: 1;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: RGBa(255, 255, 255, 0.3);
  opacity: 0;
  z-index: -1;
  transition: 0.5s ease;
}
.popup {
  max-height: 90%;
  position: absolute;
  padding: 10px;
  left: 50%;
  top: 50%;
  width: 300px;
  overflow-y: auto;
  background: #fff;
  color: #999;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.title {
  font-size: 25px;
  text-align: center;
  display: block;
}
.popup input {
  display: block;
  margin: 20px 0;
  width: 50%;
  padding: 5px 0;
  transition: 0.25s ease;
  color: #333;
  border: none;
  border-bottom: 1px solid transparent;
  font-size: 15px;
  outline: none;
}
.popup input:focus {
  width: 90%;
  border-bottom: 1px #aaa solid;
}
.login {
  margin: auto;
  display: block;
  width: 50px;
  background: #eee;
  padding: 10px;
  cursor: pointer;
  transition: 0.25s ease;
  text-align: center;
}
.login:hover {
  background: #e0e0e0;
}
.popup p {
  text-align: center;
  font-size: 20px;
  margin: 30px 0;
}
.info {
  width: 70%;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}
.username {
  color: #005ddd;
  text-decoration: none;
}
.username:hover {
  color: #00419a;
  text-decoration: underline;
}
.info-text {
  font-size: 13px;
}
#real {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 3;
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}